/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    font-family: 'B612 Mono', monospace;
    background: white;
    width: 500px;
    height: 300px;
}

input {
    font-family: 'B612 Mono', monospace;
}

button {
    font-family: 'B612 Mono', monospace;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1rem;
}

/* Title Styles */
h1 {
    font-size: 1.5rem;
    font-weight: 1000;
}

/* Color Palette Styles */
#color-palette {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.color {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: 3rem;
    color: black;
    flex-direction: column;
}

#color-1 {
    background-color: #ffffff;
}

/* Input Styles */
#num-colors {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    padding: 0.5rem;
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

#gen-pal {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    padding: 0.5rem;
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

#gen-pal:hover {
    cursor: pointer;
    scale: 1.1;
}